@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.add-humor {
  font-size: 14px;
  width: 100%;
  background-color: rgb(179, 228, 255);
  padding: 5px;
  border-radius: 10px;
  font-weight: bold;
}

.uuid-item {
  border-radius: 10px;
  padding: 2.5px 10px;
  margin-bottom: 5px;
}

.uuid-item:nth-child(odd) {
  background-color: rgb(240, 240, 240);
}

.uuid-item:nth-child(even) {
  background-color: rgb(200, 200, 200);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.heading {
  font-weight: bold;
  font-size: 30px;
}

.subheading {
  display: inline-block;
  font-weight: bold;
  margin-bottom: 10px;
}

.form-label {
  margin-right: 10px;
}

.border-bottom {
  border-bottom: 1px solid black;
}

.form label {
  width: 120px;
  font-weight: bold;
}

.divider {
  border-bottom: 2px solid lightgrey;
  margin: 15px;
}

input, textarea {
  border: 1px solid rgb(229, 231, 235);
  padding: 2px 8px 2px 8px;
  border-radius: 5px;
}

textarea {
  display: block;
  width: 100%;
}

.form button.save {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  font-weight: bold;
}

.form button.save:disabled {
  opacity: 50%;
}

.form button.save.create {
  background-color: rgb(179, 228, 255);
}

.form button.save.update {
  background-color: rgb(179, 255, 0);
}

.form button.add-to-context-list {
  width: 100%;
  background-color: rgb(179, 228, 255);
  padding: 5px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 14px;
}

.context-list-row {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  margin-bottom: 20px;
}

.context-list-row textarea {
  margin: 0;
}

.context-list-row button {
  margin-left: 50px;
  padding: 20px;
  background-color: rgb(255, 73, 73);
  border-radius: 10px;
}

input:read-only {
  background-color: rgb(245, 245, 245);
}

#refresh {
  margin-left: 10px;
  border-radius: 10px;
  font-size: 20px;
}